# Non-release executables/binaries
src/*.exe
*.exe
!terminal-based/release/*.exe
!release/*.exe
src/*.dll
*.dll

# SDL2 includes and libraries
src/include/SDL2
src/lib

# Ignore personal testing files
testing/*